- provide(:title, 'Einstellungen')
h1
  | Einstellungen

= link_to "Kategorien", categories_path

p Ändere, lösche und füge neue Kategorien hinzu

br

= link_to "Zahlungsart", payment_accounts_path

p Ändere, lösche und füge neue Bankkonten hinzu