- provide(:title, 'Ausgabe anzeigen')
h1
  | Ausgabe anzeigen

div = link_to icon(:copy, 'Kopieren'), new_expense_path(expense: @expense.as_blueprint), class: 'btn btn-default'
div = link_to icon(:copy, 'Löschen'), expense_path(@expense), method: :delete, data: { confirm: 'Bist Du sicher, dass Du diese Ausgabe löschen möchtest?' }, class: 'btn btn-default'

= render 'form'
