<div class="row">
  <div class="col-sm-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Einnahmen", revenues_path %></li>
            <li><%= link_to "Ausgaben", expenses_path %></li>
            <li><a href="#">Anlagevermögen</a></li>
            <li><%= link_to "Bank", payment_accounts_path %></li>
            <br>
            <li><a href="#">Kontakte</a></li>
            <li><a href="#">Erfolgsrechnung</a></li>
            <li><a href="#">Vermögensübersicht</a></li>
          </ul>
      </div>
    </div>
  </div>
</div> 